iOS/UYEditor.xcodeproj/project.xcworkspace/xcuserdata/panxiaoping.xcuserdatad/WorkspaceSettings.xcsettings
iOS/UYEditor.xcodeproj/xcuserdata/panxiaoping.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
iOS/UYEditor.xcodeproj/xcuserdata/panxiaoping.xcuserdatad/xcschemes/UYEditor.xcscheme
iOS/UYEditor.xcodeproj/xcuserdata/panxiaoping.xcuserdatad/xcschemes/xcschememanagement.plist
